@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">emprestimos online</h1>
  <p>abra un livro, deixe-se. Um novo mundo voce vai encontrar</p>
<div>
    <img src="/Img/read_book_study_icon-icons.com_51077.png" />
</div>
</div>
